@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Shadows+Into+Light&display=swap');
/*usos
font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/
:root {
    --negro:rgb(0, 0, 0);
    --blanco:rgb(255, 252, 75);
    --amarillo:rgb(255, 237, 179);
    --violeta-palta:hsl(343, 11%, 12%);
    --verdeClaro:#b2ea70;
    --verdeOscuro:#1d0e1c;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*Quitar scroll vertical*/
::-webkit-scrollbar {
    display: none;
}
/* barra navegacion bootstrap */
.logo{
    width: 6rem;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 1;
}
.nav-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.menu-item {
    font-size: 2rem;
    color: aqua;
}
.font-mod {
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}
.bg-menu {
    background: var(--verdeOscuro);
}
/* ---------------------------- */
.header-i {
    grid-area: header;
    background-color: transparent;
}
.main-i {
    grid-area: main;
}
.section-i-mod {
    grid-area: section;
    background-color: var(--amarillo);
    margin: .75rem 1rem 1rem 1rem;
}

.aside-i {
    grid-area: aside;
    background-color: var(--amarillo);
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--violeta-palta);
    padding-top: 1rem;
}
.aside-i-mod {
    padding: 0;
    margin: .75rem 1rem 1rem 1rem;
}
.aside-intro {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
}
.aside-block {
    width: 96%;
}
.boton-sobre {
    display: flex;
    justify-content: center;
    background-color: var(--verdeOscuro);
    color: var(--amarillo);
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
}
.boton-sobre:hover{
    color: var(--verdeClaro);
}
.footer-i {
    grid-area: footer;
}
.body-i {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header header"
                         "section section aside aside"
                         "main main main main"
                         "footer footer footer footer";
    background-color: var(--amarillo);
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan-container {
    position: absolute;
    color: var(--amarillo);
    font-family: 'Dancing Script', cursive;
}
.slogan {
    font-size: 4rem;
    text-shadow: 1px 1px  black;
}
.boton-carta {
    padding: .2rem 1rem;
    background-color: var(--amarillo);
    position: absolute;
    margin-top: 10rem;
    border-radius: .3rem;
    color: var(--verdeOscuro);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
}
.boton-carta:hover {
    color: var(--verdeClaro);
}
.video-preview {
    width: 100%;
    position: relative;
    height: 100vh;
    object-fit: cover;
}
.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40rem;
}
.about-us-title {
    font-family: 'Dancing Script', cursive;
    color: var(--violeta-palta);
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
}
.about-us-content {
    width: 95vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
}

.side-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-photo-item {
    width: 94%;
    border-radius: .5rem;
}
.gallery-main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 1rem;
}
.gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.gallery-mobile {
    display: none;
}
.gallery-intro {
    padding: 2rem 0;
    text-align: center;
}
.gallery-text {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    color: var(--violeta-palta);
}
.gallery-text-c {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    color: var(--violeta-palta);
    align-items: center;
}
/*UBICACION*/
.map {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--violeta-palta);
}
.map-text {
    font-size: 1.5rem;
}
.light {
    font-weight: 400;
    font-size: 1.2rem;
}
.map-icon {
    font-size: 2rem;
    color:var(--violeta-palta)
}
.map-text-m {
    margin-bottom: 1rem;
}
.map-iframe {
    width: 80vw;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
/* FOOTER */
.footer-redes  {
    font-size: 2.4rem;
    color: var(--amarillo);
    display: flex;
    justify-content: flex-end;
}
.footer-redes i {
    padding: 0 1rem;
}

/*PAGINA CONTACTO*/
.main-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 5rem;
}
.body-c {
    background-color: var(--amarillo);
    color: var(--violeta-palta);
}
.top-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-i {
    width: 100%;
}
.top-img{
    position: relative;
    width: 100%;
}
.top-text{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amarillo);
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
}
.top-text h2 {
    font-size: 4rem;
}
.form-container {
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.intro-reserva {
    color: var(--violeta-palta);
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-right: 3rem;
}
.form label {
    color: var(--violeta-palta);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: .4rem;
}
.form__item, .form__item--mod{
    background: var(--amarillo);
    padding: .5rem 1rem;
    
    border-radius: .5rem;
    border: 1px solid var(--violeta-palta);
}
.form__item--mod {
    margin-bottom: 1rem;
}
.boton-contacto {
    padding: .2rem 1rem;
    background-color: var(--verdeOscuro);
    border-radius: .3rem;
    color: var(--amarillo);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}
.info-add {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: var(--violeta-palta);
    text-align: center;
}
.info-add h3 {
    font-size: 1.5rem;
}
.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .7rem;
}
.info-icon {
    font-size: 4rem;
}
.info-text {
    font-weight: 700;
}
.section-i img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*CARTA*/

.menu-f {
    margin: 0;
}
.footer-redes a i{
    color: var(--amarillo);
}
.footer-redes a i:hover {
    color: var(--verdeClaro);
}

.escritorio {
    display: flex;
    justify-content: center;
    align-content: center;
}
.movil {
    display: none;
}
.img-mod {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 4%;
}
.item-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    text-align: center;
}
.border-top-carta {
    border-top: 1px solid var(--violeta-palta);
    margin-top: 1rem;
    padding-top: 1rem;
}
.border-top-carta-mod {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid var(--violeta-palta);
}
.border-right-carta {
    padding-left: 1rem;
    border-right: 1px solid var(--violeta-palta);
}
.separador {
    margin: 0 2rem;
}

/** DISPOSITIVOS MOVILES **/
@media screen and (max-width:450px) {
    .body-i {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header"
                             "aside"
                             "section"
                             "main"
                             "footer";
    }
    .img-mod {
        height: 14rem;
    }
    .logo {
        width: 2.8rem;
        margin: 0 0 0 1rem;
    }
   .border-nav {
       border-color:transparent !important;
   }
   .top-d {
       margin: 0;
   }
    .footer-redes {
        justify-content: center;
    }
    /*VIDEO*/
    .video-preview {
        height: calc(100vh-110px);
    }
    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slogan-container {
        margin-top: 3rem;
        position: absolute;
        z-index: 1;
    }
    .slogan {
        font-family: 'Dancing Script', cursive;
        color: var(--amarillo);
        font-size: 1.5rem;
    }
    .boton-carta {
        position: absolute;
        margin-top: 10rem;
        font-size: 1.1rem;
    }
    div p {
        font-size: 1rem;
    }
    .gallery-main {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .aside-intro {
        font-size: 2.7rem;
    }
    .slogan-container-c {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .intro-reserva {
        font-size: 1.2rem;
        margin-top: 76px;
    }
    .info-add {
        flex-direction: column;
    }
    .form label {
        font-size: 1rem;
    }
    .info-add {
        display: block;
        text-align: center;
    }
    .info-add h3 {
        font-size: 1.2rem;
    }
    .mostrar {
        display: block;
        margin-top:  2rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid var(--violeta-palta);
    }
    .mostrar-mod {
        padding-top:1rem;
        margin-top: 1rem;
        border-top: 3px solid var(--violeta-palta);
    }
    .main-c {
        display: block;
        margin: 0;
    }
    .top-i {
        display:none;
    }
    .top-text {
        display: none;
    }
    .form-container {
        width: auto;
        margin: 0 1rem;
    }
    .aside-i {
        padding: 0;
    }
    .aside-i-mod {
        margin-top: 76.03px;
    }
    /*CARTA MOVIL*/
   
    .escritorio {
        display: none;
    }
    .movil {
        display: block;
    }
    .margin-top-carta {
        margin-top: 76px;
    }
    .margin-bottom-carta {
        margin-bottom: 1rem;
    }
    .border-nachos {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid var(--violeta-palta);
    }
}
/*TABLET*/
@media (min-width:451px) and (max-width:992px) {
    /*solo para seccion nosotros*/
    .body-i-mod {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header"
                             "aside"
                             "section"
                             "main"
                             "footer";
    }
    /*--------*/
    .border-nav {
        border-color:transparent !important;
    }
    .img-mod {
        height: 17rem;
    }
    .main-c {
        display: block;
    }
    .logo {
        width: 3.6rem;
        margin: 0;
    }
    .slogan {
        font-size: 2.3rem;
    }
    
    .gallery-main {
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
    }
    .d-none {
        display: none;
    }
    .aside-intro {
    font-size: 2.7rem;
    }
    .top-text {
        font-size: 1.4rem;
    }
    
    .intro-reserva {
        font-size: 1.3rem;
    }
    .info-add {
        flex-direction: column;
    }
    .mostrar {
        display: block;
        margin-top:  2rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid var(--violeta-palta);
    }
    .mostrar-mod {
        padding-top:1rem;
        margin-top: 1rem;
        border-top: 3px solid var(--violeta-palta);
    }
    /*CARTA MOVIL*/
    .escritorio {
        display: none;
    }
    .movil {
        display: block;
    }
    .top-d {
        margin-top: 56px;
    }
    .border-right-carta {
        border: 0;
    }
    .border-nachos {
        margin-top: 1rem;
        padding-top: 2rem;
        border-top: 1px solid var(--violeta-palta);
    }
}