@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

.nav-menu, .header-i .video-container, .header-i .top-d .top-text, .section-i-mod .side-photo, .footer-i .footer-social {
  display: flex;
  justify-content: center;
  align-items: center; }

/*grid-system general*/
.body-i {
  display: grid;
  background-color: #ffedb3;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header header header" "section section aside aside" "main main main main" "footer footer footer footer"; }
  @media screen and (max-width: 450px) {
    .body-i {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "header" "aside" "section" "main" "footer"; } }

/*grid-system -pertenece a la seccion 'nosotros'-*/
@media (min-width: 451px) and (max-width: 992px) {
  .body-i-mod {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "aside" "section" "main" "footer"; } }

/*-----------------------*/
/*titulo - SEO pertenece a los 5 html*/
.page-title {
  visibility: hidden;
  position: absolute; }

/*-----------------------*/
/*navbar*/
.nav-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #1d0e1c; }
  .nav-menu .logo {
    width: 6rem;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 1; }
    @media (min-width: 451px) and (max-width: 992px) {
      .nav-menu .logo {
        display: none; } }
  @media screen and (max-width: 992px) {
    .nav-menu {
      display: none; } }

.font-mod {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif; }

.movil {
  display: none;
  background-color: #1d0e1c; }
  @media screen and (max-width: 992px) {
    .movil {
      display: block; } }
  .movil .border-nav {
    border-color: transparent !important; }
  .movil .logo {
    width: 6rem;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 1; }
    @media screen and (max-width: 450px) {
      .movil .logo {
        width: 2.8rem;
        margin: 0 0 0 1rem; } }
    @media (min-width: 451px) and (max-width: 992px) {
      .movil .logo {
        width: 3.6rem;
        margin: 0; } }

/*-----------------------*/
/*header*/
.header-i {
  grid-area: header;
  background-color: transparent;
  /*header para paginas alternativas*/ }
  .header-i .video-container .video-preview {
    width: 100%;
    position: relative;
    height: 100vh;
    object-fit: cover; }
  .header-i .slogan-container {
    color: #ffedb3;
    position: absolute;
    font-family: "Dancing Script", cursive; }
    .header-i .slogan-container .slogan {
      font-size: 4rem;
      color: #ffedb3; }
      @media screen and (max-width: 450px) {
        .header-i .slogan-container .slogan {
          font-size: 1.5rem; } }
      @media (min-width: 451px) and (max-width: 992px) {
        .header-i .slogan-container .slogan {
          font-size: 2rem; } }
    @media screen and (max-width: 450px) {
      .header-i .slogan-container {
        margin-top: 3rem;
        position: absolute;
        z-index: 1; } }
  .header-i .top-d {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .header-i .top-d .top-i {
      width: 100%; }
      .header-i .top-d .top-i .top-img {
        position: relative;
        width: 100%; }
      @media screen and (max-width: 450px) {
        .header-i .top-d .top-i {
          display: none; } }
    .header-i .top-d .top-text {
      position: absolute;
      color: #ffedb3;
      font-family: "Dancing Script", cursive; }
      .header-i .top-d .top-text h2 {
        font-size: 3rem; }
    @media screen and (max-width: 450px) {
      .header-i .top-d {
        margin: 0; } }
    @media (min-width: 451px) and (max-width: 992px) {
      .header-i .top-d {
        margin-top: 56px; } }
  .header-i .boton-carta {
    padding: .2rem 1rem;
    font-family: "Poppins", sans-serif;
    background-color: #ffedb3;
    color: #1d0e1c;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    margin-top: 10rem;
    border-radius: .3rem;
    text-decoration: none; }
    .header-i .boton-carta:hover {
      color: #221b1d;
      background-color: #b2ea70; }
    @media screen and (max-width: 450px) {
      .header-i .boton-carta {
        position: absolute;
        font-size: 1.1rem; } }

/*-----------------------*/
/*index*/
.page-title {
  visibility: hidden;
  position: absolute; }

.main-i {
  grid-area: main;
  background-color: #ffedb3; }

.section-i-mod {
  grid-area: section;
  margin: 1rem; }
  .section-i-mod .side-photo .side-photo-item {
    width: 94%;
    border-radius: .5rem; }
  @media screen and (max-width: 450px) {
    .section-i-mod {
      margin: 0 0 1rem 0; } }

.aside-i {
  grid-area: aside;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #221b1d;
  padding-top: 1rem; }
  .aside-i .aside-block {
    width: 96%; }
    .aside-i .aside-block .aside-intro {
      font-family: "Dancing Script", cursive;
      font-size: 3rem;
      padding: 1rem;
      text-align: center; }
      @media screen and (max-width: 992px) {
        .aside-i .aside-block .aside-intro {
          font-size: 2.5rem;
          padding: 0; } }
    .aside-i .aside-block .boton-sobre {
      display: flex;
      justify-content: center;
      background-color: #1d0e1c;
      color: #ffedb3;
      margin: 1rem 0;
      border-radius: .5rem;
      font-size: 1.5rem;
      text-decoration: none; }
      .aside-i .aside-block .boton-sobre:hover {
        color: #b2ea70; }
  @media screen and (max-width: 450px) {
    .aside-i {
      padding: 0; } }

/*-----------------------*/
/*galeria*/
.gallery-intro {
  padding: 1rem 0;
  text-align: center; }
  .gallery-intro .gallery-text {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #221b1d; }
  .gallery-intro .gallery-text-c {
    display: inline-block;
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem;
    color: #221b1d;
    align-items: center; }

.gallery-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  margin: 1rem; }
  .gallery-main .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem; }
  @media screen and (max-width: 450px) {
    .gallery-main {
      grid-template-columns: 1fr;
      grid-auto-rows: auto; } }
  @media (min-width: 451px) and (max-width: 992px) {
    .gallery-main {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto; } }

/*-----------------------*/
/*map-iframe*/
.map {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #221b1d; }
  .map .map-icon {
    font-size: 2rem;
    color: #221b1d; }
  .map .map-text {
    font-size: 1.5rem; }
  .map .light {
    font-weight: 400;
    font-size: 1.2rem; }
  .map .map-text-m {
    margin-bottom: 1rem; }
  .map .map-iframe {
    width: 80vw;
    margin-bottom: 1rem;
    border-radius: .5rem; }

/*-----------------------*/
/*carta*/
.body-c {
  background-color: #ffedb3; }

.main-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 1rem 5rem; }
  @media screen and (max-width: 450px) {
    .main-c {
      display: block;
      margin: 0; } }
  @media (min-width: 451px) and (max-width: 992px) {
    .main-c {
      display: block; } }
  @media screen and (max-width: 450px) {
    .main-c .margin-top-carta {
      margin-top: 76px; } }

.border-right-carta {
  padding-left: 1rem;
  border-right: 1px solid #221b1d; }
  @media screen and (max-width: 992px) {
    .border-right-carta {
      border: 0; } }

@media screen and (max-width: 992px) {
  .border-mid {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid #221b1d; } }

.border-top-carta-mod {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid #221b1d; }

.border-top-carta {
  border-top: 1px solid #221b1d;
  margin-top: 1rem;
  padding-top: 1rem; }

.border-right-carta {
  padding-left: 1rem;
  border-right: 1px solid #221b1d; }
  @media screen and (max-width: 992px) {
    .border-right-carta {
      border: 0; } }

@media screen and (max-width: 450px) {
  .margin-bottom-carta {
    margin-bottom: 1rem; } }

/*-----------------------*/
/*cards - tarjetas para productos*/
.card-container .img-mod {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 4%; }
  @media screen and (max-width: 450px) {
    .card-container .img-mod {
      height: 14rem; } }
  @media (min-width: 451px) and (max-width: 992px) {
    .card-container .img-mod {
      height: 17rem; } }

.card-container .item-title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  text-align: center; }

.card-container .space {
  margin: 0 2rem; }

.card-container .space-mod {
  margin: 0 2rem 0 0; }

.card-container .types {
  font-weight: 700; }

/*-----------------------*/
/*info-add (reservas - contacto)*/
.info-add {
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #221b1d;
  text-align: center; }
  .info-add .mas-info {
    font-size: 1.5rem; }
    @media screen and (max-width: 992px) {
      .info-add .mas-info {
        font-size: 1.2rem; } }
  .info-add .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .7rem; }
    .info-add .icon-container .info-icon {
      font-size: 4rem; }
    .info-add .icon-container .info-text {
      font-weight: 700; }
  @media screen and (max-width: 450px) {
    .info-add {
      display: block;
      text-align: center; } }

/*-----------------------*/
/*Formularios*/
/*reservas - contacto*/
.intro-reserva {
  color: #221b1d;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-right: 3rem; }
  @media screen and (max-width: 450px) {
    .intro-reserva {
      font-size: 1.2rem;
      margin-top: 76px; } }
  @media (min-width: 451px) and (max-width: 992px) {
    .intro-reserva {
      font-size: 1.2rem; } }

.form-container {
  width: 100%; }
  .form-container .form {
    flex-direction: column;
    margin: 2rem 0; }
    .form-container .form label {
      color: #221b1d;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      margin-bottom: .4rem; }
    .form-container .form .form__item {
      background: #ffedb3;
      padding: .5rem 1rem;
      border-radius: .5rem;
      border: 1px solid #221b1d; }
    .form-container .form .form__item--mod {
      margin-bottom: 1rem;
      resize: none; }
    .form-container .form .boton-contacto {
      padding: .2rem 1rem;
      background-color: #1d0e1c;
      border-radius: .3rem;
      color: #ffedb3;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      border: none;
      cursor: pointer; }
      .form-container .form .boton-contacto:hover {
        color: #b2ea70; }
    .form-container .form .confirmacion {
      font-size: .8rem;
      text-align: center; }
  @media screen and (max-width: 450px) {
    .form-container {
      width: auto;
      margin: 0 1rem; } }

/*-----------------------*/
/*footer*/
.footer-i {
  grid-area: footer;
  background-color: #1d0e1c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-i .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer-i .footer-info .footer-h1 {
      font-size: 1.5rem;
      color: #ffedb3;
      font-family: "Dancing Script", cursive; }
    .footer-i .footer-info .footer-text {
      color: #ffedb3;
      font-family: "Poppins", sans-serif;
      font-size: .9rem;
      margin: 0;
      font-weight: 400; }
    .footer-i .footer-info .footer-text--mod {
      font-size: .8rem; }
    .footer-i .footer-info .margin-footer {
      margin: .5rem 0 .2rem 0; }
  .footer-i .footer-links {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    margin: 0;
    padding: 0; }
    .footer-i .footer-links a {
      text-decoration: none; }
    .footer-i .footer-links li {
      list-style-type: none; }
    .footer-i .footer-links .footer-links__item {
      margin: .5rem; }
      .footer-i .footer-links .footer-links__item:hover {
        color: #b2ea70; }
    .footer-i .footer-links .footer-links__item--mod {
      margin: 0 .4rem 0 0; }
  .footer-i .footer-social {
    font-size: 2.5rem;
    color: #ffedb3; }
    .footer-i .footer-social .footer-icons {
      color: #ffedb3; }
      .footer-i .footer-social .footer-icons:hover {
        color: #b2ea70; }
    .footer-i .footer-social .footer-icons--mod {
      margin: 0 1rem; }
    @media screen and (max-width: 450px) {
      .footer-i .footer-social {
        justify-content: center; } }

/*-----------------------*/
