@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #b2ea70;
  color: #1d0e1c;
}

::-webkit-scrollbar {
  display: none;
}

.form-container, .parallax2, .header-i .top-d .top-text, .header-i .video-container, .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax2, .parallax, .header-i .top-d .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .parallax2, .parallax, .header-i .top-d .parallax {
    background-attachment: unset;
  }
}

/*grid-system general*/
.body-i {
  display: grid;
  background-color: rgb(255, 237, 179);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside" "footer footer footer footer";
}
@media screen and (max-width: 450px) {
  .body-i {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "main" "aside" "footer";
  }
}

/*-----------------------*/
/*titulo - SEO pertenece a los 5 html*/
.page-title {
  visibility: hidden;
  position: absolute;
}

/*-----------------------*/
/*navbar*/
.navbar {
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .navbar {
    background-color: #130d12;
    position: fixed;
  }
}

.nav-menu {
  z-index: 1;
  width: 100%;
  background: #130d12;
}
.nav-menu .logo {
  width: 6rem;
  z-index: 1;
}

.font-mod {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 237, 179) !important;
}
.font-mod:hover {
  color: #b2ea70 !important;
}

.bg-nav {
  background-color: rgba(0, 0, 0, 0.5);
}

/*-----------------------*/
.logo {
  width: 6rem;
}

.anular {
  color: transparent !important;
  border-color: transparent !important;
}

/*header*/
.header-i {
  grid-area: header;
  background-color: transparent;
  /*header para paginas alternativas*/
}
.header-i .video-container .video-preview {
  width: 100%;
  position: relative;
  height: 100vh;
  object-fit: cover;
}
.header-i .slogan-container {
  color: rgb(255, 237, 179);
  position: absolute;
  font-family: "Dancing Script", cursive;
}
.header-i .slogan-container .slogan {
  font-size: 4rem;
  color: rgb(255, 237, 179);
}
@media screen and (max-width: 450px) {
  .header-i .slogan-container .slogan {
    font-size: 1.5rem;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .header-i .slogan-container .slogan {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .header-i .slogan-container {
    margin-top: 3rem;
    position: absolute;
    z-index: 1;
  }
}
.header-i .top-d {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-i .top-d .parallax {
  background-image: url("../resources/edit-1.webp");
  min-height: 280px;
}
.header-i .top-d .parallax::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.header-i .top-d .parallax-mod {
  background-image: url("../resources/contacto.webp");
  /*https://i.ibb.co/gRxgMyV/image-2.webp*/
}
.header-i .top-d .top-i {
  width: 100%;
}
.header-i .top-d .top-i .top-img {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .header-i .top-d .top-i {
    display: none;
  }
}
.header-i .top-d .top-text {
  position: absolute;
  color: rgb(255, 237, 179);
  font-family: "Dancing Script", cursive;
}
.header-i .top-d .top-text h2 {
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  .header-i .top-d {
    margin: 0;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .header-i .top-d {
    margin-top: 40px;
  }
}
.header-i .boton-carta {
  padding: 0.2rem 1rem;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 237, 179);
  color: #1d0e1c;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  margin-top: 10rem;
  border-radius: 0.3rem;
  text-decoration: none;
}
.header-i .boton-carta:hover {
  color: hsl(343deg, 11%, 12%);
  background-color: #b2ea70;
}
@media screen and (max-width: 450px) {
  .header-i .boton-carta {
    position: absolute;
    font-size: 1.1rem;
  }
}

/*-----------------------*/
/*index*/
.main-i {
  grid-area: main;
  background-color: rgb(255, 237, 179);
}
.main-i .car-mod {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.main-i .car-img-mod {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.8s ease;
  position: relative;
}
.main-i .car-img-mod:hover {
  transform: scale(1.1);
  transition: transform 0.8s ease;
}

.parallax {
  background-image: url("../resources/hero2-mod.webp");
}

.parallax2 {
  background-image: url("../resources/nosotros.webp");
  min-height: 30rem;
}

.parallax2-mod {
  min-height: 14rem;
  background-image: url("../resources/feedback_1_.webp");
}

.parallax3-mod {
  min-height: 14rem;
  background-image: url("../resources/reservas.webp");
}

.parallax2100 {
  height: 100vh;
}

.aside-i {
  grid-area: aside;
  font-family: "Poppins", sans-serif;
  display: block;
  color: hsl(343deg, 11%, 12%);
}

.aside-block {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.aside-block .aside-text {
  color: rgb(255, 237, 179);
  font-size: 1.5rem;
  text-indent: 2rem;
  margin: 1rem;
}
@media screen and (max-width: 992px) {
  .aside-block .aside-text {
    font-size: 1rem;
  }
}
.aside-block .aside-text-mod {
  text-indent: 0;
  text-align: center;
}

.aside-intro {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: rgb(255, 237, 179);
  padding: 1rem;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .aside-intro {
    font-size: 2.5rem;
    padding: 0;
  }
}

.section {
  grid-area: section;
}
.section .art-img-mod {
  width: 12rem;
  border-radius: 50%;
}
.section .m-top {
  margin-top: 1rem;
}

.text-reviews {
  text-align: center;
  color: hsl(343deg, 11%, 12%);
}
.text-reviews a {
  display: inline-block;
  color: hsl(343deg, 11%, 12%);
  text-decoration: none;
  font-weight: 700;
}

/*-----------------------*/
/*galeria*/
.bg-car {
  height: 100%;
}

.car-mod {
  height: 100%;
}

.carousel-item {
  height: 30rem !important;
}

.container2 {
  width: 50%;
  margin: 1rem auto;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
@media screen and (max-width: 1200px) {
  .container2 {
    width: 94%;
  }
}

.container2:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.overlay {
  position: absolute;
  background-color: rgba(177, 234, 112, 0.5215686275);
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform 0.4s ease 0s;
}

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
  color: hsl(343deg, 11%, 12%);
}

.container2 img {
  transition: transform 0.8s ease;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.container2:hover img {
  transform: scale(1.1);
}

.gallery-intro {
  padding: 1rem 0;
  text-align: center;
}
.gallery-intro .gallery-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: hsl(343deg, 11%, 12%);
  margin-top: 1rem;
}
.gallery-intro .gallery-text-c {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  color: hsl(343deg, 11%, 12%);
  align-items: center;
}

/*-----------------------*/
/*map-iframe*/
.map {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: hsl(343deg, 11%, 12%);
  margin-top: 1rem;
}
.map .map-icon {
  font-size: 2rem;
  color: hsl(343deg, 11%, 12%);
}
.map .map-text {
  font-size: 1.5rem;
}
.map .light {
  font-weight: 400;
  font-size: 1.2rem;
}
.map .map-text-m {
  margin-bottom: 1rem;
}
.map .map-iframe {
  width: 80vw;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

/*-----------------------*/
/*carta*/
.body-c {
  background-color: rgb(255, 237, 179);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.main-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 1rem 5rem;
}
@media screen and (max-width: 450px) {
  .main-c .margin-top-carta {
    margin-top: 79px;
  }
}
.main-c .img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main-c {
    display: block;
    margin: 0;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .main-c {
    display: block;
  }
}

.border-right-carta {
  padding-left: 1rem;
  border-right: 1px solid hsl(343deg, 11%, 12%);
}
@media screen and (max-width: 992px) {
  .border-right-carta {
    border: 0;
  }
}

@media screen and (max-width: 992px) {
  .border-mid {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid hsl(343deg, 11%, 12%);
  }
}

.border-top-carta-mod {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid hsl(343deg, 11%, 12%);
}

.border-top-carta {
  border-top: 1px solid hsl(343deg, 11%, 12%);
  margin-top: 1rem;
  padding-top: 1rem;
}

.border-right-carta {
  padding-left: 1rem;
  border-right: 1px solid hsl(343deg, 11%, 12%);
}
@media screen and (max-width: 992px) {
  .border-right-carta {
    border: 0;
  }
}

@media screen and (max-width: 450px) {
  .margin-bottom-carta {
    margin-bottom: 1rem;
  }
}

/*-----------------------*/
/*cards - tarjetas para productos*/
.card-container .img-mod {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 4%;
}
@media screen and (max-width: 450px) {
  .card-container .img-mod {
    height: 14rem;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .card-container .img-mod {
    height: 17rem;
  }
}
.card-container .img-mod2 {
  border-radius: 1rem;
  margin: 1rem;
}
@media screen and (max-width: 450px) {
  .card-container .img-mod2 {
    margin-top: calc(1rem + 56px);
  }
}
.card-container .item-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  text-align: center;
}
.card-container .item-title-mod {
  font-size: 4rem;
}
@media screen and (max-width: 450px) {
  .card-container .item-title-mod {
    font-size: 3rem;
  }
}
.card-container .padding-p {
  margin: 1.5rem;
}
.card-container .space {
  margin: 0 2rem;
}
.card-container .space-mod {
  margin: 0 2rem 0 0;
}
.card-container .types {
  font-weight: 700;
}
.card-container:hover {
  transform: scale(1.02);
  transition: transform 0.1s ease-in-out 0.1s;
}

/*-----------------------*/
/*info-add (reservas - contacto)*/
.info-add {
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: hsl(343deg, 11%, 12%);
  text-align: center;
}
.info-add .mas-info {
  font-size: 1.5rem;
}
@media screen and (max-width: 992px) {
  .info-add .mas-info {
    font-size: 1.2rem;
  }
}
.info-add .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.7rem;
}
.info-add .icon-container .info-icon {
  font-size: 4rem;
}
.info-add .icon-container .info-text {
  font-weight: 700;
}
@media screen and (max-width: 450px) {
  .info-add {
    display: block;
    text-align: center;
  }
}

/*-----------------------*/
/*Formularios*/
/*reservas - contacto*/
.intro-reserva {
  color: hsl(343deg, 11%, 12%);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-right: 3rem;
}
@media screen and (max-width: 450px) {
  .intro-reserva {
    font-size: 1.2rem;
    margin-top: 76px;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .intro-reserva {
    font-size: 1.2rem;
  }
}

.intro-reserva-mod {
  margin-top: 1rem;
}
@media screen and (max-width: 450px) {
  .intro-reserva-mod {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

.form-container {
  width: 100%;
}
.form-container .form {
  flex-direction: column;
  width: 50%;
  margin: 1rem 0;
}
.form-container .form label {
  color: hsl(343deg, 11%, 12%);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 0.4rem;
}
.form-container .form .form__item {
  background: rgb(255, 237, 179);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(343deg, 11%, 12%);
}
.form-container .form .form__item:focus {
  outline: 3px solid #b2ea70;
  border: none;
}
.form-container .form .form__item--mod {
  margin-bottom: 1rem;
  resize: none;
}
.form-container .form .boton-contacto {
  padding: 0.2rem 1rem;
  background-color: #130d12;
  border-radius: 0.3rem;
  color: rgb(255, 237, 179);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
.form-container .form .boton-contacto:hover {
  color: #b2ea70;
}
.form-container .form .confirmacion {
  font-size: 0.8rem;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .form-container .form {
    width: 100%;
  }
}
.form-container .form-mod {
  width: 100%;
}
@media screen and (max-width: 450px) {
  .form-container {
    width: auto;
    margin: 0 1rem;
  }
}

.form-reservas {
  margin: 1rem 6rem;
  width: auto;
}
@media screen and (max-width: 450px) {
  .form-reservas {
    display: block;
    margin: 1rem;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .form-reservas {
    display: block;
  }
}

/*-----------------------*/
/*footer*/
.footer-i {
  grid-area: footer;
  background-color: #130d12;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  padding: 0 8rem;
}
.footer-i .footer-des {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 237, 179);
  margin: 1rem 2rem 0 0;
}
.footer-i .footer-des .font-mod {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}
.footer-i .footer-des .footer-text {
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
}
@media screen and (max-width: 756px) {
  .footer-i .footer-des {
    margin: 0;
  }
}
.footer-i .footer-section {
  color: rgb(255, 237, 179);
  margin: 1rem 1rem 0 0;
}
.footer-i .footer-section .footer-title {
  font-size: 1rem;
}
.footer-i .footer-section ul {
  list-style-type: none;
  font-size: 0.9rem;
  padding: 0;
}
.footer-i .footer-section ul a {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: rgb(255, 237, 179);
  text-decoration: none;
  cursor: pointer;
}
.footer-i .footer-section ul a:hover {
  color: #b2ea70;
}
@media screen and (max-width: 756px) {
  .footer-i .footer-section ul {
    margin: 0;
    padding: 0;
  }
}
.footer-i .footer-section ul .footer-icon {
  font-size: 2rem;
}
.footer-i .footer-section ul .footer-icon:hover {
  color: #b2ea70;
}
@media screen and (max-width: 756px) {
  .footer-i .footer-section ul span {
    display: none;
  }
}
@media screen and (max-width: 756px) {
  .footer-i .footer-section {
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 756px) {
  .footer-i .footer-section .footer-icons {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 756px) {
  .footer-i .footer-section .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 756px) {
  .footer-i {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

/*-----------------------*/

/*# sourceMappingURL=style.css.map */
