@import '../scss/base/reset.scss';
@import '../scss/components/header';
@import '../scss/base/mapas';
@import '../scss/components/footer';
@import '../scss/base/extends';
@import '../scss/components/carta';
.body-i {
    display: grid;
    background-color: $bg-color-gral;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header header"
                         "section section aside aside"
                         "main main main main"
                         "footer footer footer footer";

    @media screen and (max-width:450px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header"
            "aside"
            "section"
            "main"
            "footer";
    }
}
.body-i-mod {
    @media (min-width:451px) and (max-width:992px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header"
                             "aside"
                             "section"
                             "main"
                             "footer";
    }

}

.main-i {
    grid-area: main;
    background-color: $bg-color-gral;
    .gallery-intro {
        padding: 2rem 0;
        text-align: center;

        .gallery-text {
            font-family: $fuente-ppal;
            font-size: nth($font-size,3);
            color: $color-texto;
        }

        .gallery-text-c {
            display: inline-block;
            font-family: $fuente-sec;
            font-size: nth($font-size,4);
            color: $color-texto;
            align-items: center;
        }
    }

    .gallery-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 1rem;
        margin: 1rem;

        .gallery__item {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }

        @media screen and (max-width:450px) {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }

        @media (min-width:451px) and (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }
    }

    .map {
        text-align: center;
        font-family: $fuente-ppal;
        color: $color-texto;

        .map-icon {
            font-size: 2rem;
            color: $color-texto;
        }

        .map-text {
            font-size: nth($font-size,3);
        }

        .light {
            font-weight: 400;
            font-size: nth($font-size,2);
        }

        .map-text-m {
            margin-bottom: 1rem;
        }

        .map-iframe {
            width: 80vw;
            margin-bottom: 1rem;
            border-radius: .5rem;
        }
    }
}

.section-i-mod {
    grid-area: section;
    margin: .75rem 1rem 1rem 1rem;

    .side-photo {
        @extend %flex;

        .side-photo-item {
            width: 94%;
            border-radius: .5rem;
        }
    }
}

.aside-i {
    grid-area: aside;
    font-family: $fuente-ppal;
    @extend %flex;
    flex-direction: column;
    color: $color-texto;
    padding-top: 1rem;

    .aside-block {
        width: 96%;

        .aside-intro {
            font-family: $fuente-sec;
            font-size: nth($font-size,7);
            padding: 1rem;
            text-align: center;
            @media screen and (max-width:992px) {
                font-size: nth($font-size,4);
            }
        }

        .boton-sobre {
            display: flex;
            justify-content: center;
            background-color: $bg-color-nav-footer;
            color: $color-texto-alt;
            margin-top: 1rem;
            border-radius: .5rem;
            font-size: nth($font-size,3);
            text-decoration: none;

            &:hover {
                color: $color-texto-hover;
            }
        }
    }

    @media screen and (max-width:450px) {
        padding: 0;
    }
}
.aside-i-mod {
    padding: 0;
    margin: .75rem 1rem 1rem 1rem;
    @media screen and (max-width:450px) {
        margin-top: 76.03px;
    }
}