@import './base/reset.scss';
@import './base/extends';
@import './base/mixin';
@import './base/mapas';
@import './base/variables';
@import './base/listas';
@import'./components/grid-system';
@import './components/title';
@import './components/navbar';
@import './components/header';
@import './components/index';
@import './components/gallery';
@import './components/map-iframe';
@import './components/carta';
@import './components/cards';
@import './components/info-add';
@import './components/forms';
@import './components/footer';
.navbar {
    position: fixed;
    width: 100%;
    transition: 0.2s;
    z-index: 4;
    

}

.bg-menu.sticky {
    background-color: $bg-color-nav-footer ;
    padding: .2rem 0;
    @media screen and (max-width:992px) {
        padding: .5rem 0;
    }
}
