/*cards - tarjetas para productos*/
.card-container {
    .img-mod {
        height: 20rem;
        width: 100%;
        object-fit: cover;
        border-radius: 4%;
        @media screen and (max-width:450px) {
            height: 14rem;
        }
        @media (min-width:451px) and (max-width:992px) {
            height: 17rem;
        }
    }
    .img-mod2 {
        border-radius: 1rem;
        margin: 1rem;
        @media screen and (max-width:450px) {
        margin-top: calc(1rem + 56px);
        }

    }
    .item-title {
        font-family: $fuente-sec;
        font-size: nth($font-size,6);
        text-align: center;
    }
    .item-title-mod {
        font-size: 4rem;
        @media screen and (max-width:450px) {
        font-size: 3rem;
        }
    }
    .padding-p {
        margin: 1.5rem;
    }
    .space {
        margin: 0 2rem;
    }
    .space-mod {
        margin: 0 2rem 0 0;
    }
    .types {
        font-weight: 700;
    }
    &:hover {
        transform: scale(1.02);
        transition: transform .1s ease-in-out .1s;
    }
}
/*-----------------------*/