
/*footer*/
.footer-i {
    grid-area: footer;
    background-color: $bg-color-nav-footer;
    @include flex(flex,center,flex-start,row);
    font-family: $fuente-ppal;
    padding: 0 8rem;
    .footer-des {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-texto-alt;
        margin: 1rem 2rem 0 0;
        .font-mod {
            font-family: $fuente-sec;
            font-size: 2rem;
        }
        .footer-text { 
            font-size: .8rem;
            display: inline-block;
            text-align: center;
            
        }
        @media screen and (max-width:756px) {
        margin: 0;
        
        }
    }
    .footer-section {
        color: $color-texto-alt;
        margin: 1rem 0;
        .footer-title {
            font-size: 1rem;
        }
        ul {
            list-style-type: none;
            font-size: .9rem;
            a {
                display: flex;
                align-items: center;
                font-size: .9rem;
                color: $color-texto-alt;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    color: $color-texto-hover;
                }
            }
            @media screen and (max-width:756px) {
                margin: 0;
                padding: 0;
            }
            .footer-icon {
                font-size: 2rem;
                &:hover {
                    color: $color-texto-hover;
                }
            }
            span {
                @media screen and (max-width:756px) {
                    display: none;
                }
            }
        }
        @media screen and (max-width:756px) {
            margin: .5rem 0;
        }
        .footer-icons {
            @media screen and (max-width:756px) {
                display: flex;
                justify-content: space-around;
            }
        }
        .footer-links {
            @media screen and (max-width:756px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        
    }
    @media screen and (max-width:756px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}
/*-----------------------*/