/*galeria*/
.parallax3 {
    @extend %flex;
    background-image: url("https://i.ibb.co/rxRSVzp/estudio-bloom-NYq-CYYqyml-M-unsplash.jpg");
  
    /* Set a specific height */
    min-height: 30rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    a {
        width: 100%;
    }
}
.bg-car {
    height: 100%;
}
.car-mod {
    height: 100%;
}
.carousel-item {
    height: 100% !important;
}
.container2{
    width: 50%;
    height: 400px;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    @media screen and (max-width:600px) {
        width: 90%;
    }
    
  }
  
  .container2:hover .overlay{
    opacity: 1;
    transform: scale(1);
  }
  
  .overlay{
    position: absolute;
    background-color: rgba(59, 245, 115, 0.356);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
    
  }
  
  .overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2rem;
    color: $color-texto-alt;
  }
  
  .container2 img{
    transition: transform .8s ease;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .container2:hover img{
    transform: scale(1.1);
  }
.gallery-intro {
    padding: 1rem 0;
    text-align: center;

    .gallery-text {
        font-family: $fuente-ppal;
        font-size: nth($font-size,3);
        color: $color-texto;
        margin-top: 1rem;
    }

    .gallery-text-c {
        display: inline-block;
        font-family: $fuente-sec;
        font-size: nth($font-size,4);
        color: $color-texto;
        align-items: center;
    }
}

.gallery-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 1rem;

    .gallery__item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    @media screen and (max-width:450px) {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    @media (min-width:451px) and (max-width:992px) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }
}
/*-----------------------*/