@import '../base/variables';
@import '../base/listas';
@import '../base/mapas';
.header-i {
    grid-area: header;
    background-color: transparent;
    .nav-menu {
        position: absolute;
        z-index: 1;
        width: 100%;
        background: $bg-color-nav-footer;
        @extend %flex;
        .logo{
            width: 6rem;
            margin-top: 1rem;
            margin-left: 1rem;
            z-index: 1;
        @media (min-width:451px) and (max-width:992px) {
            display: none;
        }
        }
    @media screen and (max-width: 992px) {
        display: none;
    }
    }
    .font-mod {
        font-size: 1.2rem;
        font-family: $fuente-ppal;
    }
    .movil {
    display:none;
    background-color: $bg-color-nav-footer;
    @media screen and (max-width:992px) {
        display: block;    
    }
        .border-nav {
            border-color:transparent !important;
        }
        .logo{
            width: 6rem;
            margin-top: 1rem;
            margin-left: 1rem;
            z-index: 1;
        @media screen and (max-width: 450px) {
            width: 2.8rem;
            margin: 0 0 0 1rem;
        }
        @media (min-width:451px) and (max-width:992px) {
            width: 3.6rem;
            margin: 0;
        }
        }
    }
    .video-container {
        @extend %flex;
        .video-preview {
            width: 100%;
            position: relative;
            height: 100vh;
            object-fit: cover;
        
        }
    }
    .slogan-container {
        color: $color-texto-alt;
        position: absolute;
        font-family: $fuente-sec;
    
        .slogan {
            font-size: 4rem;
            color: $color-texto-alt;
            @media screen and (max-width:450px) {
                font-size: nth($font-size,3);
            }
            @media (min-width:451px) and (max-width:992px) {
                font-size: nth($font-size,5);
            }
        }
    @media screen and (max-width:450px) {
            margin-top: 3rem;
            position: absolute;
            z-index: 1;
    }
    }
    /*header para paginas alternativas*/
    .top-d {
        @extend %flex;
        flex-direction: column;
        .top-i {
            width: 100%;
            .top-img {
                position: relative;
                width: 100%;
            }
        @media screen and (max-width:450px) {
            display: none;
        }
        }
        .top-text {
            @extend %flex;
            position:absolute;
            color: $color-texto-alt;
            font-family: $fuente-sec;
            h2 {
                font-size: nth($font-size,7);
            }
        }
    @media screen and (max-width:450px) {
        margin: 0;
    }
    @media (min-width:451px) and (max-width:992px) {
        margin-top: 56px;
    }
    }
    .boton-carta {
        padding: .2rem 1rem;
        background-color: map-get($boton-carta,bg-boton);
        position: absolute;
        margin-top: 10rem;
        border-radius: .3rem;
        color: map-get($boton-carta,color-carta);
        font-family: $fuente-ppal;
        font-weight: map-get($boton-carta, f-weight );
        font-size: map-get($boton-carta, f-size);
        text-decoration: none;
        &:hover {
            color: $color-texto-hover;
        }
    @media screen and (max-width:450px) {
            position: absolute;
            font-size: 1.1rem;
    }
    }

}