/*index*/

.main-i {
    grid-area: main;
    background-color: $bg-color-gral;
    .car-mod {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
    }
    .car-img-mod {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: .5rem;
        transition: transform .8s ease;
        position: relative;
        &:hover {
                transform: scale(1.1);
                transition: transform .8s ease;
        }
    }
    
}
.parallax {
    background-image: url("https://i.ibb.co/7vdsq6m/ck-schneider-5xlt-WMpk-N3-E-unsplash-3.webp");
    @extend %parallax-effect;
  }
.parallax2 {
    @extend %flex;
    background-image: url("https://i.ibb.co/VW6p6Gj/bergqvist-TYj7ey6xn9-M-unsplash-1-1.webp");
    min-height: 30rem;
    @extend %parallax-effect;
}
.parallax2-mod {
    min-height: 14rem;
    background-image: url("https://i.ibb.co/Y0pxH5h/lyn-giberson-Okhc-Mbf3v-Q0-unsplash-2.webp");
}
.parallax3-mod {
    min-height: 14rem;
    background-image: url("https://i.ibb.co/9N4m1bG/reservas2.webp");
}

.aside-i {
    grid-area: aside;
    font-family: $fuente-ppal;
    display: block;
    color: $color-texto;
}
.aside-block {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    .aside-text {
        color: $color-texto-alt;
        margin: 1rem;
    }
}
.aside-intro {
    font-family: $fuente-sec;
    font-size: nth($font-size,7);
    color: $color-texto-alt;
    padding: 1rem;
    text-align: center; 
    @media screen and (max-width:992px) {
        font-size: nth($font-size,6);
        padding: 0;
    }
}

.section {
    .art-img-mod {
        width: 12rem;
        border-radius: 50%;
    }
    .m-top {
        margin-top: 1rem;
    }
}

/*-----------------------*/