/*index*/

.main-i {
    grid-area: main;
    background-color: $bg-color-gral;
    .car-mod {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
    }
    .car-img-mod {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: .5rem;
        transition: transform .8s ease;
        position: relative;
        &:hover {
                transform: scale(1.1);
                transition: transform .8s ease;
        }
    }
    
}
.parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../resources/hero2-mod.webp");
    
    @extend %parallax-effect;
  }
.parallax2 {
    @extend %flex;
    background-image: url("../resources/nosotros.webp");
    min-height: 30rem;
    @extend %parallax-effect;
}
.parallax2-mod {
    min-height: 14rem;
    background-image: url("../resources/feedback_1_.webp");
}
.parallax3-mod {
    min-height: 14rem;
    background-image: url("../resources/reservas.webp");
}
.parallax2100 {
    height: 100vh;
}
.aside-i {
    grid-area: aside;
    font-family: $fuente-ppal;
    display: block;
    color: $color-texto;
}
.aside-block {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    .aside-text {
        color: $color-texto-alt;
        font-size: nth($font-size,3 );
        text-indent: 2rem;
        margin: 1rem;
        @media screen and (max-width:992px) {
            font-size: nth($font-size,1);
        }
    }
    .aside-text-mod {
        text-indent: 0;
        text-align: center;
    }
}
.aside-intro {
    font-family: $fuente-sec;
    font-size: nth($font-size,7);
    color: $color-texto-alt;
    padding: 1rem;
    text-align: center; 
    @media screen and (max-width:992px) {
        font-size: nth($font-size,6);
        padding: 0;
    }
}

.section {
    grid-area: section;
    position: relative;
    .art-img-mod {
        width: 12rem;
        border-radius: 50%;
    }
    .m-top {
        margin-top: 1rem;
    }
}
.text-reviews {
    text-align: center;
    color: $color-texto;
    a {
        display: inline-block;
        color: $color-texto;
        text-decoration: none;
        font-weight: 700;
    }
}
/*-----------------------*/