/*navbar*/
.navbar {
    position: absolute;
    width: 100%;
    @media screen and (max-width:992px) {
        background-color: $bg-color-nav-footer;
        position: fixed;
    }
}
.nav-menu {

    z-index: 1;
    width: 100%;
    background: $bg-color-nav-footer;
    @extend %flex;
    .logo{
        width: 6rem;
        z-index: 1;
    }

}
.font-mod {
    font-size: 1.1rem;
    font-family: $fuente-ppal;
    color: $color-texto-alt !important;
    &:hover {
        color: $color-texto-hover !important;
    }
}

.bg-nav {
    background-color: rgba(0,0,0,.5);
}
/*-----------------------*/
.logo {
    width: 6rem;
}
.bg-button {
    color: transparent!important;
    border-color: transparent !important;
}