/*nosotros*/
.section-i-mod {
    grid-area: section;
    background-color: $color-texto-alt;
    margin: .75rem 1rem 1rem 1rem;

    .side-photo {
        @extend %flex;

        .side-photo-item {
            width: 94%;
            border-radius: .5rem;
        }
    }
}
.aside-i-mod {
    padding: 0;
    margin: .75rem 1rem 1rem 1rem;
    @media screen and (max-width:450px) {
        margin: 76.03px .5rem 0 .5rem;
    }
    @media screen and (max-width:450px) {
    text-align: center;
    }
}
/*-----------------------*/
