.main-n {
    margin: 1rem;
    .img-container {
        @extend %flex;
        .img-nos {
            height: 27rem;
            overflow-x: hidden;
            object-fit: cover;
            border-radius: 2%;
        }
        .img-nos--mod {
            width: 50%;
            border-radius: 4%
        }
    }
    .text-container {
        @extend %flex;
        flex-direction: column;
        .title {
            font-family: $fuente-sec;
            font-size: nth($font-size,8);
            text-align: center;
        }
    }
    .text-container--mod {
        margin-top: 1rem;
    }
    
    
}