$bg-color-gral: rgb(255, 237, 179);
$color-texto: hsl(343, 11%, 12%);
$color-texto-alt:rgb(255, 237, 179);
$color-texto-hover:#b2ea70;
$bg-color-nav-footer: #130d12;
$fuente-ppal: 'Poppins', sans-serif;
$fuente-sec:'Damion', cursive;



